@tailwind base;
@tailwind components;
@tailwind utilities;

.my-menu .ant-menu-item {
  color: #a1a0bd !important;
}

.my-menu .ant-menu-item-selected {
  background-color: #e4e3ff !important;
  color: #4c49ed !important;
}
.my-menu {
  font-size: "17px" !important;
  font-weight: 800 !important;
  line-height: "21.34px" !important;
}

.ant-pagination-item a {
  color: black !important;
  border: none !important;
}

.ant-pagination-item-active {
  border: none !important;
}

.ant-pagination-item-active a {
  background-color: #4c49ed !important;
  color: white !important;
}

.spacer:hover {
  background-color: transparent !important;
  cursor: default !important;
}

.ant-table-column-sort {
  background: white !important;
}

.ant-table-thead .ant-table-cell {
  background-color: rgba(76, 73, 237, 0.1) !important;
}
