@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.my-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.my-menu .ant-menu-item {
  color: #a1a0bd !important;
}

.my-menu .ant-menu-item-selected {
  background-color: #e4e3ff !important;
  color: #4c49ed !important;
}
.my-menu .logout {
  /* background-color: #4c49edc4 !important; */
  /* color: #ffffff !important; */
}
.my-menu .logout:hover {
  background-color: #4c49edf3 !important;
  color: #ffffff !important;
}
.my-menu {
  font-size: "17px" !important;
  font-weight: 800 !important;
  line-height: "21.34px" !important;
}

.ant-pagination-item a {
  color: black !important;
  border: none !important;
}

.ant-pagination-item-active {
  border: none !important;
}

/* Disables hover effects on the menu divider */
.my-menu .menu-divider {
  background-color: transparent !important; /* Keeps background transparent */
  cursor: default !important; /* Resets cursor to default instead of pointer */
}

.pid {
  color: gray !important;
}

.ant-pagination-item-active a {
  background-color: #4c49ed !important;
  color: white !important;
}

.spacer:hover {
  background-color: transparent !important;
  cursor: default !important;
}

.ant-table-column-sort {
  background: white !important;
}

.ant-table-thead .ant-table-cell {
  background-color: rgba(76, 73, 237, 0.1) !important;
  color: black !important;
  font-weight: bolder;
}

.pidColumn {
  color: #999999 !important;
}

.ant-layout-sider-children {
  width: "800px" !important;
}
